process {

    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
    
    // Resources
    withLabel:smallMemory {
        cpus = 24
        time = 5.m
        memory = 2.GB
    }
    withLabel:bigMemory {
        time = 5.h
        cpus = 24
        memory = 90.GB
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:readAligner {
        time = 10.h
        cpus = 24
        memory = 30.GB
    }
    withLabel:bamSorter {
        time = 70.m
        cpus = 24
        memory = 100.GB
    }
    withLabel:bamIndexer {
        time = 10.m
        cpus = 24
        memory = 8.GB
    }
    withLabel:duplicateMarker {
        time = 10.h
        cpus = 1
        memory = 100.GB
    }
    withLabel:duplicateMarkerSpark {
        time = 8.h
        cpus = 1
        memory = 180.GB
    }
    withLabel:baseRecalibrator {
        time = 5.h
        cpus = 24
        memory = 80.GB
    }
    withLabel:baseRecalibratorSpark {
        time = 10.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:applyBqsr {
        time = 3.h
        cpus = 24
        memory = 50.GB
    }
    withLabel:variantCaller {
        time = 30.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }
}

