process {

    errorStrategy = { task.exitStatus in [135,143,255] ? 'retry' : 'terminate' }
    maxErrors = '-1'
    maxRetries = 5
    
    // Resources
    withLabel:smallMemory {
        cpus = 24
        time = 5.m
        memory = 2.GB
    }
    withLabel:bigMemory {
        time = { 15.m * task.attempt }
        cpus = 24
        memory = { 30.GB * task.attempt }
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:readAligner {
        time = 10.h
        cpus = 24
        memory = 30.GB
    }
    withLabel:bamSorter {
        time = 70.m
        cpus = 24
        memory = 100.GB
    }
    withLabel:bamIndexer {
        time = 10.m
        cpus = 24
        memory = 8.GB
    }
    withLabel:fixBam {
        time = { 10.m * task.attempt }
        cpus = 24
        memory = { 50.GB * task.attempt }
    }
    withLabel:duplicateMarker {
        time = { 1.h * task.attempt }
        cpus = 1
        memory = { 80.GB * task.attempt }
    }
    withLabel:duplicateMarkerSpark {
        time = { 1.h * task.attempt }
        cpus = 5
        memory = { 80.GB * task.attempt }
    }
    withLabel:baseRecalibrator {
        time = 5.h
        cpus = 24
        memory = 80.GB
    }
    withLabel:baseRecalibratorSpark {
        time = { 5.h * task.attempt }
        cpus = 24
        memory = { 50.GB * task.attempt }
    }
    withLabel:applyBqsr {
        time = 3.h
        cpus = 24
        memory = 50.GB
    }
    withLabel:variantCaller {
        time = { 5.h * task.attempt }
        cpus = 24
        memory = { 50.GB * task.attempt }
    }
    withLabel:mediumMemory {
        cpus = 24
        time = { 5.m * task.attempt }
        memory = { 1.GB * task.attempt }
    }
}

