/* ---------- CHPC PATHS FOR PERSONAL INFO: UNCOMMENT TO USE ON CHPC
*  params {
*      referenceDir = '/mnt/lustre/users/kesoh/imputationReference/'
*      fastaRef = '/mnt/lustre/groups/1000genomes/annotation/REF_VC/hg19/ucsc.hg19.fasta'
*      dbsnp = '/mnt/lustre/groups/CBBI1243/KEVIN/db/dbsnp_138.hg19.vcf.gz'
*      indelsRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/1000G_phase1.indels.hg19.sites.vcf.gz'
*      hapmap = '/mnt/lustre/groups/CBBI1243/KEVIN/db/hapmap_3.3.hg19.sites.vcf.gz'
*      omniRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/1000G_omni2.5.hg19.sites.vcf.gz'
*      snpRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz'
*      containersDir = '/mnt/lustre/groups/CBBI1243/KEVIN/containers/'
*  }
*/

params {
    containersDir = '/scratch/eshkev001/containers/'
    referenceDir = '/scratch/eshkev001/imputationReference/'
    fastaRef = '/scratch/eshkev001/db/hg19.fa'
    dbsnp = '/scratch/eshkev001/db/dbsnp151_hg19.vcf.gz'
    indelsRef = '/scratch/eshkev001/db/1000G_phase1.indels.hg19.sites.vcf.gz'
    hapmap = '/scratch/eshkev001/db/hapmap_3.3.hg19.sites.vcf.gz'
    omniRef = '/scratch/eshkev001/db/1000G_omni2.5.hg19.sites.vcf.gz'
    snpRef = '/scratch/eshkev001/db/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz'
}

process {

    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
    
    // Resources
    withLabel:smallMemory {
        cpus = 24
        time = 5.m
        memory = 2.GB
    }
    withLabel:bigMemory {
        time = 5.h
        cpus = 24
        memory = 90.GB
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:readAligner {
        time = 10.h
        cpus = 24
        memory = 30.GB
    }
    withLabel:bamSorter {
        time = 70.m
        cpus = 24
        memory = 100.GB
    }
    withLabel:bamIndexer {
        time = 10.m
        cpus = 24
        memory = 8.GB
    }
    withLabel:duplicateMarker {
        time = 50.m
        cpus = 10
        memory = 100.GB
    }
    withLabel:baseRecalibrator {
        time = 5.h
        cpus = 24
        memory = 80.GB
    }
    withLabel:applyBqsr {
        time = 50.m
        cpus = 24
        memory = 50.GB
    }
    withLabel:variantCaller {
        time = 30.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }

    // Containers
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}py3plink_latest.sif"
    }
    withLabel:Rbase {
        container = "${params.containersDir}R.sif"
    }
    withLabel:samtools {
        container = "${params.containersDir}samtools_1.11.sif"
    }
    withLabel:bwa_bgzip {
        container = "${params.containersDir}bwa_bgzip_latest.sif"
    }
    withLabel:gatk {
        container = "${params.containersDir}gatk_latest.sif"
    }
    withLabel:fastqc {
        container = "${params.containersDir}fastqc.sif"
    }
    withLabel:multiqc {
        container = "${params.containersDir}multiqc_latest.sif"
    }
    withLabel:bgzip {
        container = "${params.containersDir}bgzip_latest.sif"
    }
}

