params {

    containersDir = ''

    referenceDir = ''
    fastaRef = "${params.referenceDir}/hg19/ucsc.hg19.fasta"
    dbsnp = "${params.referenceDir}/dbsnp_138.hg19.vcf.gz"
    indelsRef = "${params.referenceDir}/1000G_phase1.indels.hg19.sites.vcf.g"
    hapmap = "${params.referenceDir}/hapmap_3.3.hg19.sites.vcf.gz"
    omniRef = "${params.referenceDir}/1000G_omni2.5.hg19.sites.vcf.gz"
    snpRef = "${params.referenceDir}/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz"
}

process {
    withLabel:plink2 {
        container = "${params.containersDir}/plink2_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}/bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}/py3plink_latest.sif"
    }
    withLabel:Rbase {
        container = "${params.containersDir}/R.sif"
    }
    withLabel:samtools {
        container = "${params.containersDir}/samtools_1.11.sif"
    }
    withLabel:bwa_bgzip {
        container = "${params.containersDir}/bwa_bgzip_latest.sif"
    }
    withLabel:gatk {
        container = "${params.containersDir}/gatk_latest.sif"
    }
    withLabel:fastqc {
        container = "${params.containersDir}/fastqc.sif"
    }
    withLabel:multiqc {
        container = "${params.containersDir}/multiqc_latest.sif"
    }
    withLabel:bgzip {
        container = "${params.containersDir}/bgzip_latest.sif"
    }
}
