params {
    containersDir = '/scratch/eshkev001/containers/'
}

process {
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}py3plink_latest.sif"
    }
    withLabel:Rbase {
        container = "${params.containersDir}R.sif"
    }
    withLabel:samtools {
        container = "${params.containersDir}samtools_1.11.sif"
    }
    withLabel:bwa_bgzip {
        container = "${params.containersDir}bwa_bgzip_latest.sif"
    }
    withLabel:gatk {
        container = "${params.containersDir}gatk_latest.sif"
    }
    withLabel:fastqc {
        container = "${params.containersDir}fastqc.sif"
    }
    withLabel:multiqc {
        container = "${params.containersDir}multiqc_latest.sif"
    }
    withLabel:bgzip {
        container = "${params.containersDir}bgzip_latest.sif"
    }
}
