params {
    ref_dir = '/scratch/eshkev001/db/hg38/'
    fastaRef = "${params.ref_dir}/hg38.fa"
    dbsnp = "${params.ref_dir}/dbsnp151_hg38.vcf.gz"
    indelsRef = "${params.ref_dir}/1000G_phase1.indels.hg38.sites.vcf.gz"
    hapmap = "${params.ref_dir}/hapmap_3.3.hg38.sites.vcf.gz"
    omniRef = "${params.ref_dir}/1000G_omni2.5.hg38.sites.vcf.gz"
    snpRef = "${params.ref_dir}/1000G_phase1.snps.high_confidence.hg38.sites.vcf.gz"
}

