params {
    referenceDir = '/scratch/eshkev001/imputationReference/'
    fastaRef = '/scratch/eshkev001/db/hg19.fa'
    dbsnp = '/scratch/eshkev001/db/dbsnp151_hg19.vcf.gz'
    indelsRef = '/scratch/eshkev001/db/1000G_phase1.indels.hg19.sites.vcf.gz'
    hapmap = '/scratch/eshkev001/db/hapmap_3.3.hg19.sites.vcf.gz'
    omniRef = '/scratch/eshkev001/db/1000G_omni2.5.hg19.sites.vcf.gz'
    snpRef = '/scratch/eshkev001/db/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz'
}

