executor {
    name = 'slurm'
    queue = 'sadacc-short'
    queueSize = 10
}

includeConfig "${projectDir}/configs/singularity.config"
includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers-referenceDBs.config"

process {
    //beforeScript = 'module load software/nextflow-21.10.6'
    cpus = 24
    time = 30.m
    memory = 30.GB
    clusterOptions = '--account humgen --partition sadacc-long --nodes=1'
}

