includeConfig "${projectDir}/configs/base.config"

params {
    inputFileType = 'FASTQ'  // [FASTQ|BAM]
    inputDir = 'NULL'
    outputDir = 'NULL'
    outPrefix = 'NULL'
    ped = 'NULL'

    // Select a mode to run GATK commands with multi-threading (true) or not (false)
    sparkMode = false
}

profiles {
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
}
