params {
    aligner = 'DRAGMAP'			// optional: options: BWA, DRAGMAP [default: BWA]
    inputFileType = 'FASTQ'		// required: options: FASTQ, BAM
    inputDir = 'NULL'			// required
    outputDir = 'NULL'			// required
    outPrefix = 'NULL'			// required
    ped = 'NULL'			// optional

    // Select a mode to run GATK commands with multi-threading (true) or not (false)
    sparkMode = false
}

profiles {
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
    hg19 {
        includeConfig "${projectDir}/configs/reference-hg19.config"
    }
    hg38 {
        includeConfig "${projectDir}/configs/reference-hg38.config"
    }
}
