includeConfig "${projectDir}/configs/base.config"

params {
    fastqDir = 'NULL'
    bamDir = 'NULL'
    outputDir = 'NULL'
    outPrefix = 'NULL'
    ped = 'NULL'
}

profiles {
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
}
