params {
    /*---- ALIGNMENT AND VARIANT CALLING PARAMS ----*/
    aligner = 'BWA'			// optional: options: BWA, DRAGMAP [default: BWA]
    inputFileType = 'FASTQ'		// required: options: FASTQ, BAM
    inputDir = 'NULL'			// required
    outputDir = 'NULL'			// required
    outPrefix = 'NULL'			// required
    ped = 'NULL'			// optional

    // Select a mode to run GATK commands with multi-threading (true) or not (false)
    sparkMode = false

    /*---- VCF FILTERING PARAMS ----*/
    vcf_dir = 'NULL'
    vcf = 'NULL'
    minDP = 10
    minGQ = 20

    /*---- READS TRIMMING PARAMS ----*/
    adapter = 'NP'			// use 'NULL' to see option of adapters
    min_length = 36

    /*---- ANNOTATION PARAMS ----*/
    annotate_dir = 'NULL'
}

profiles {
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
    hg19 {
        includeConfig "${projectDir}/configs/reference-hg19.config"
    }
    hg38 {
        includeConfig "${projectDir}/configs/reference-hg38.config"
    }
}
