params { // project-specific one-time system configuration //
  account = 'NULL'
  queue = 'NULL'
  project_name = 'NULL'
  containers_dir = "${launchDir}/containers"
  workspace = "${launchDir}"
  email = 'NULL'
}

includeConfig "${projectDir}/configs/defaults.config"
includeConfig "${projectDir}/configs/test.config"
includeConfig "${projectDir}/configs/profile-selector.config"
includeConfig "${projectDir}/configs/resourceselector/resource-selector-wes.config