params { // one-time system configuration //

  account = 'NULL'
  queue = 'NULL'
  containers_dir = 'NULL'
  workspace = 'NULL'
  email = 'NULL'
  project_name = 'NULL'

  /************************************************************************************************
  ~ account: If using SLURM or PBSPRO, provide your cluster project or account name.
  ~ queue: If using SLURM or PBSPRO, specify the queue or partition name.
  ~ containers_dir: If using singularity containers, provide a path where the images will be stored.
    NB: The path should have sufficient storage capacity.
  ~ email: If you wish to receive information on job status.
  ~ project_name: The name of your study/project with no spaces.
  ~ workspace: Path where nextflow work directories for all projects will be created. It is 
    important to specify a path with enough storage capacity since, dependent on the project, 
    nextflow can generate multiple intermediate files with large sizes. 
    [Example: '/some/path/nfworkdirs/']
  /***********************************************************************************************/

}
