process {
  beforeScript = 'ulimit -c unlimited; hostname; date; pwd'
  resourceLimits = [time: 24.h]

  // ERROR HANDLING
  errorStrategy = { task.exitStatus in [1,2,4,5,6,126,127,134,135,136,137,139,140,143,245,247,249,250,255] ? 'retry' : 'finish' }
  //errorStrategy = { task.exitStatus in 3 ? 'ignore' : 'retry' }
  maxErrors = '-1'
  maxRetries = 3

  // UPDATING GENOMICS BDs
  // DO NOT FAIL ON DUPLICATE SAMPLES: exit code 3
  withLabel:updatedbserror {
    errorStrategy = { task.exitStatus in 3 ? 'ignore' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
  }
  
  // RESOURCE MANAGEMENT //
  withLabel:smallMemory {
      cpus = 1
      time = 5.m
      memory = 1.GB
  }
  withLabel:mediumMemory {
      cpus = 1
      time = { 2.h * task.attempt }
      memory = 2.GB
  }
  withLabel:bigMemory {
      time = { 15.m * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:longRun {
      time = 7.h
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:qcMem {
      time = { 12.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:readAligner {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:samConverter {
      cpus = { params.threads }
      time = 1.h
      memory = 4.GB
  }
  withLabel:bamSorter {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:bamIndexer {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:fixBam {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:duplicateMarker {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:duplicateMarkerSpark {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:baseRecalibrator {
      time = { 1.h * task.attempt }
      cpus = 1
      memory = 4.GB
  }
  withLabel:baseRecalibratorSpark {
      time = { 1.h * task.attempt }
      cpus = 1
      memory = 4.GB
  }
  withLabel:applyBqsr {
      time = { 1.h * task.attempt }
      cpus = 1
      memory = 4.GB
  }
  withLabel:genomisDBImport {
      time = { 1.h * task.attempt }
      cpus = 1
      memory = 4.GB
  }
  withLabel:variantCaller {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:gatkVariantCaller {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:vqsr {
      time = { 1.h * task.attempt }
      cpus = 1
      memory = 4.GB
  }
  withLabel:applyVqsr {
      time = { 1.h * task.attempt }
      cpus = 1
      memory = 4.GB
  }
  withLabel:annovarMem {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:deepv_caller {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:nexus_caller {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
  withLabel:dysgu_caller {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 4.GB
  }
}
