process {
  beforeScript = 'ulimit -c unlimited; hostname; date; pwd'

  // ERROR HANDLING
  errorStrategy = { task.exitStatus in [1,2,3,4,5,6,126,127,134,135,136,137,139,140,143,245,247,249,250,255] ? 'retry' : 'terminate' }
  //errorStrategy = { task.exitStatus in 3 ? 'ignore' : 'retry' }
  maxErrors = '-1'
  maxRetries = 3

  // UPDATING GENOMICS BDs
  // DO NOT FAIL ON DUPLICATE SAMPLES: exit code 3
  withLabel:updatedbserror {
    errorStrategy = { task.exitStatus in 3 ? 'ignore' : 'terminate' }
    maxErrors = '-1'
    maxRetries = 3
  }
  
  // RESOURCE MANAGEMENT //
  withLabel:smallMemory {
      cpus = 11
      time = 5.m
      memory = 2.GB
  }
  withLabel:mediumMemory {
      cpus = 22
      time = { 24.h * task.attempt }
      memory = 5.GB
  }
  withLabel:bigMemory {
      time = { 15.m * task.attempt }
      cpus = { params.threads }
      memory = 90.GB
  }
  withLabel:longRun {
      time = 24.h
      cpus = { params.threads }
      memory = 90.GB
  }
  withLabel:fastqcMem {
      time = { 2.h * task.attempt }
      cpus = { params.threads }
      memory = 5.GB
  }
  withLabel:multiqcMem {
      time = { 2.h * task.attempt }
      cpus = 8
      memory = 10.GB
  }
  withLabel:readAligner {
      time = { 10.h * task.attempt }
      cpus = { params.threads }
      memory = 50.GB
  }
  withLabel:samConverter {
      cpus = { params.threads }
      time = 8.h
      memory = 30.GB
  }
  withLabel:bamSorter {
      time = { 3.h * task.attempt }
      cpus = { params.threads }
      memory = 20.GB
  }
  withLabel:bamIndexer {
      time = 10.m
      cpus = 2
      memory = 2.GB
  }
  withLabel:fixBam {
      time = { 3.h * task.attempt }
      cpus = { params.threads }
      memory = 30.GB
  }
  withLabel:duplicateMarker {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 20.GB
  }
  withLabel:duplicateMarkerSpark {
      time = { 30.h * task.attempt }
      cpus = 2
      memory = 50.GB
  }
  withLabel:baseRecalibrator {
      time = { 12.h * task.attempt }
      cpus = 2
      memory = 10.GB
  }
  withLabel:baseRecalibratorSpark {
      time = { 4.h * task.attempt }
      cpus = 2
      memory = 20.GB
  }
  withLabel:applyBqsr {
      time = { 15.h * task.attempt }
      cpus = 2
      memory = 10.GB
  }
  withLabel:genomisDBImport {
      time = { 24.h * task.attempt }
      cpus = 2
      memory = 100.GB
  }
  withLabel:variantCaller {
      time = { 8.h * task.attempt }
      cpus = { params.threads }
      memory = 50.GB
  }
  withLabel:vqsr {
      cpus = 2
      time = { 24.h * task.attempt }
      memory = 100.GB
  }
  withLabel:applyVqsr {
      cpus = 2
      time = { 24.h * task.attempt }
      memory = 100.GB
  }
  withLabel:annovarMem {
      cpus = { params.threads }
      time = { 12.h * task.attempt }
      memory = 90.GB
  }
  withLabel:deepv_caller {
      cpus = { params.threads }
      time = { 15.h * task.attempt }
      memory = { 50.GB * task.attempt }
  }
  withLabel:nexus_caller {
      cpus = { params.threads }
      time = { 25.h * task.attempt }
      memory = 50.GB
  }
  withLabel:dysgu_caller {
      cpus = { params.threads }
      time = { 24.h * task.attempt }
      memory = 50.GB
  }
}

