params { 
    ref_dir = "/data/awonkam1/resources/t2t/refgenome/"
    gatk_dir = "/data/awonkam1/resources/t2t/gatkbundles/"
    fastaRef = "${params.ref_dir}/chm13v2.0.fa"
    dbsnp = "${params.gatk_dir}/dbsnp156_t2t.vcf.gz"
    indelsRef = "${params.gatk_dir}/Homo_sapiens_known_indels_t2t.vcf.gz"
    hapmap = "${params.gatk_dir}/hapmap_3.3_t2t.vcf.gz"
    omniRef = "${params.gatk_dir}/1000G_omni2.5_t2t.vcf.gz"
    snpRef = "${params.gatk_dir}/1000G_phase1.snps.high_confidence_t2t.vcf.gz"
    annovarDB = '/scratch/siaworkflows/public-databases/human/grch38/annotation/annovar/'
    build = 't2t'
}

