params {
    ref_dir = '/scratch/eshkev001/db/t2t/'
    fastaRef = "${params.ref_dir}/chm13v2.0.fa"
    dbsnp = "${params.ref_dir}/dbsnp151_hg19.vcf.gz"
    indelsRef = "${params.ref_dir}/1000G_phase1.indels.hg19.sites.vcf.gz"
    hapmap = "${params.ref_dir}/hapmap_3.3.hg19.sites.vcf.gz"
    omniRef = "${params.ref_dir}/1000G_omni2.5.hg19.sites.vcf.gz"
    snpRef = "${params.ref_dir}/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz"
    annovarDB = '/scratch/siaworkflows/public-databases/human/grch37/annotation/annovar/'
    buildVersion = 't2t'
}

