params {
    ref_dir = '/scratch/eshkev001/db/hg38/'
    fastaRef = "${params.ref_dir}/hg38.fa"
    dbsnp = "${params.ref_dir}/dbsnp151_hg38.vcf.gz"
    indelsRef = "${params.ref_dir}/Homo_sapiens_assembly38.known_indels.vcf.gz"
    hapmap = "${params.ref_dir}/hapmap_3.3.hg38.vcf.gz"
    omniRef = "${params.ref_dir}/1000G_omni2.5.hg38.vcf.gz"
    snpRef = "${params.ref_dir}/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    annovarDB = '/scratch/siaworkflows/public-databases/human/grch38/annotation/annovar/'
    buildVersion = 'hg38'
}

