process {

    errorStrategy = { task.exitStatus in [135,143,255] ? 'retry' : 'terminate' }
    maxErrors = '-1'
    maxRetries = 5
    
    // Resources
    withLabel:smallMemory {
        cpus = 24
        time = 5.m
        memory = 2.GB
    }
    withLabel:mediumMemory {
        cpus = 22
        time = { 5.m * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withLabel:bigMemory {
        time = { 15.m * task.attempt }
        cpus = 24
        memory = { 30.GB * task.attempt }
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:fastqcMem {
        time = 5.h
        cpus = 2
        memory = 70.GB
    }
    withLabel:multiqcMem {
        time = 5.m
        cpus = 1
        memory = 5.GB
    }
    withLabel:readAligner {
        time = 12.h
        cpus = 2
        memory = 50.GB
    }
    withLabel:samConverter {
        cpus = 2
        time = { 30.m * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withLabel:bamSorter {
        time = 30.m
        cpus = 2
        memory = 8.GB
    }
    withLabel:bamIndexer {
        time = 1.h
        cpus = 2
        memory = 30.GB
    }
    withLabel:fixBam {
        time = { 30.m * task.attempt }
        cpus = 2
        memory = { 100.GB * task.attempt }
    }
    withLabel:duplicateMarker {
        time = { 30.h * task.attempt }
        cpus = 2
        memory = { 100.GB * task.attempt }
    }
    withLabel:duplicateMarkerSpark {
        time = { 30.h * task.attempt }
        cpus = 2
        memory = { 100.GB * task.attempt }
    }
    withLabel:baseRecalibrator {
        time = 15.h
        cpus = 2
        memory = 100.GB
    }
    withLabel:baseRecalibratorSpark {
        time = { 4.h * task.attempt }
        cpus = 2
        memory = { 15.GB * task.attempt }
    }
    withLabel:applyBqsr {
        time = { 4.h * task.attempt }
        cpus = 2
        memory = { 8.GB * task.attempt }
    }
    withLabel:variantCaller {
        time = { 60.h * task.attempt }
        cpus = 2
        memory = { 20.GB * task.attempt }
    }
    withLabel:vqsr {
        cpus = 2
        time = { 2.h * task.attempt }
        memory = { 50.GB * task.attempt }
    }
    withLabel:applyVqsr {
        cpus = 2
        time = { 1.h * task.attempt }
        memory = { 50.GB * task.attempt }
    }
    withLabel:annovarMem {
        cpus = 22
        time = 2.h
        memory = 100.GB
    }
}

