executor {
    name = 'pbspro'
    queue = 'normal'
    queueSize = 10
}

includeConfig "${projectDir}/configs/singularity.config"
includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/reference-hg38.config"
includeConfig "${projectDir}/configs/reference-hg19.config"
//includeConfig "${projectDir}/configs/refs-shifter-containers.config"

process {
    //beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
    cpus = 24
    time = 3.h
    clusterOptions = '-P CBBI1243 -l select=1 -m b'
}

