params {
    // MAIN
    wkflow = 'NULL'

    // GENERAL
    buildVersion = 'hg19'
    input_ftype = 'FASTQ'
    input_dir = "${launchDir}/input/"
    output_dir = "${launchDir}/output/"
    threads = 1
    njobs = 1

    // TRIM
    exome = true
    trimmer = 'trimgalore'
    adapter = 'NP'
    min_length = 36
    headcrop = 'NULL'
    crop = 'NULL'

    // ALIGN
    aligner = 'bwa'
    pe = true
    dup_marker = 'samtools'
    remove_dup = false
    spark = false

    // MERGEALIGN
    sort_order = 'coordinate'

    // CALL
    mode = 'varcall'
    alignment_dir = "${launchDir}/bam/"
    output_prefix = 'myngs'
    single_caller = 'gatk'
    joint_caller = 'gatk'
    batch_size = 50
    interval = 'NULL'

    // SCALL
    vcf_dir = "${launchDir}/vcf/"

    // JCALL
    genomicsdb_workspace_dir = "${launchDir}/genomicsdb/"
    imprt = true
    update = false
    gvcf_dir = "${launchDir}/gvcf/"
    joint_caller = 'gatk'

    // FILTER
    left_norm = false
    minDP = 10
    minGQ = 20

    // ANNOTATE
    minimal = true
    alt_contig = false

}