params {
    // MAIN
    wkflow = 'NULL'

    // GENERAL
    input_ftype = 'FASTQ'
    input_dir = "${launchDir}/input/"
    output_dir = "${launchDir}/output/"
    threads = 1
    njobs = 1

    // TRIM
    trimmer = 'trimgalore'
    adapter = 'NP'
    min_length = 36
    headcrop = 'NULL'
    crop = 'NULL'

    // ALIGN
    aligner = 'bwa'
    pe = true
    dup_marker = 'samtools'
    remove_dup = false
    spark = false

}