params {
    // Value for all required params is NULL

    // MAIN
    wkflow = 'NULL'

    // GENERAL
    input_ftype = 'FASTQ'
    input_dir = "NULL"
    output_dir = "NULL"
    threads = 1
    njobs = 1

    // TRIM
    wgs = false
    trimmer = 'trimgalore'
    adapter = 'NP'
    min_length = 36
    headcrop = 'NULL'
    crop = 'NULL'

    // ALIGN
    build = 'hg38'
    aligner = 'bwa'
    pe = true
    fastaRef = 'NULL'
    dup_marker = 'samtools'
    remove_dup = false
    spark = false

    // MERGEALIGN
    sort_order = 'coordinate'

    // CALL
    mode = 'varcall'
    alignment_dir = "NULL"
    output_prefix = 'myngs'
    single_caller = 'gatk'
    joint_caller = 'gatk'
    batch_size = 50
    interval = 'NULL'
    glnexus_config = 'NULL'

    // SCALL
    vcf_dir = "NULL"

    // JCALL
    genomicsdb_workspace_dir = "NULL"
    imprt = true
    update = false
    gvcf_dir = "NULL"
    joint_caller = 'gatk'

    // FILTER
    left_norm = false
    minDP = 10
    minGQ = 20

    // ANNOTATE
    minimal = true
    alt_contig = false

}