executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

includeConfig "${projectDir}/configs/docker.config"
includeConfig "${projectDir}/configs/base.config"

params {
    referenceDir = ''
    fastaRef = ''
    dbsnp = ''
    indelsRef = ''
    hapmap = ''
    omniRef = ''
    snpRef = ''
    containersDir = ''
}

process {
    cpus = 2
    time = 10.m
    memory = 2.GB
}

