profiles {

  // executors
  local {
    includeConfig "${projectDir}/configs/executors/local.config"
  }
  slurm {
    includeConfig "${projectDir}/configs/executors/slurm.config"
  }
  pbspro {
    includeConfig "${projectDir}/configs/executors/pbspro.config"
  }


  // containers
  singularity {
    includeConfig "${projectDir}/configs/containers/singularity.config"
  }
  apptainer {
    includeConfig "${projectDir}/configs/containers/apptainer.config"
  }
  docker {
    includeConfig "${projectDir}/configs/containers/docker.config"
  }


  // references
  hg19 {
    includeConfig "${projectDir}/configs/references/hg19.config"
  }
  hg38 {
    includeConfig "${projectDir}/configs/references/hg38.config"
  }
  t2t {
    includeConfig "${projectDir}/configs/references/chm13.config"
  }

  // resource selector
  wes {
    includeConfig "${projectDir}/configs/resourceselector/wes.config"
  }
  wgs {
    includeConfig "${projectDir}/configs/resourceselector/wgs.config"
  }

  // test
  test {
    includeConfig "${projectDir}/configs/test.config"
  }

}
