executor {
    name = 'slurm'
    queue = 'sadacc-long'
    queueSize = 30
}

includeConfig "${projectDir}/configs/singularity.config"
includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers.config"

process {
    cpus = 24
    time = 30.m
    memory = 30.GB
    clusterOptions = '--account humgen --partition sadacc-long --nodes=1'
}

