executor {
    name = 'slurm'
    queue = 'ada'
    queueSize = params.njobs
}

includeConfig "${projectDir}/configs/singularity.config"
includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers.config"

process {
    cpus = 40
    time = 5.h
    memory = 50.GB
    clusterOptions = '--account humgen --partition ada --nodes=1'
}

