process {

  // CONTAINERS //
  
  /*----------------------------------------------------* 
  *  plink is lightweight and one of the most popular
  *  tools in genomics. We'll use it to test singularity
  *-----------------------------------------------------*/

  withLabel: 'plink' {
    container = "docker://sickleinafrica/plink:latest"
  }

  withLabel: 'king' {
    container = "docker://sickleinafrica/king:2.3.2"
  }

  withLabel: 'rbase' {
    container = "docker://sickleinafrica/rbase-rehh:latest"
  }

  withLabel:bcftools {
      container = "docker://sickleinafrica/bcftools:1.11"
  }

  withLabel:samtools {
      container = "docker://staphb/samtools:latest"
  }

  withLabel:sambamba {
      container = "docker://maulik23/sambamba:1.0"
  }

  withLabel:bwa_bgzip {
      container = "docker://sickleinafrica/bwa_bgzip:latest"
  }

  withLabel:ngstools {
      container = "docker://sickleinafrica/bwa-samtools-bgzip:latest"
  }

  withLabel:gatk {
      container = "docker://broadinstitute/gatk:latest"
  }

  withLabel:fastqc {
      container = "docker://sickleinafrica/fastqc:0.11.9"
  }

  withLabel:multiqc {
      container = "docker://staphb/multiqc:latest"
  }

  withLabel:trimatic {
      container = "docker://staphb/trimmomatic:latest"
  }

  withLabel:trimgalore {
      container = "docker://sickleinafrica/trimgalore:latest"
  }

  //withLabel:trimgalore {
  //    container = "docker://vibsinglecellnf/trimgalore:trimgalore-0.6.7-cutadapt-4.2"
  //}

  withLabel:htslib {
      container = "docker://staphb/htslib:latest"
  }

  withLabel:dragmap {
      container = "docker://sickleinafrica/dragmap:latest"
  }

  withLabel:annovar {
      container = "docker://bioinfochrustrasbourg/annovar:latest"
  }

  withLabel:deepvariant {
      container = "docker://google/deepvariant:latest"
  }

  withLabel:glnexus {
      container = "docker://elle72/glnexus:vs2"
  }

  withLabel:dysgu {
      container = "docker://sickleinafrica/dysgu:1.6.1"
  }

  withLabel:manta {
      container = "docker://szarate/manta:v1.6.0"
  }
}
