params {
    referenceDir = '/mnt/lustre/users/kesoh/imputationReference/'
    fastaRef = '/mnt/lustre/groups/1000genomes/annotation/REF_VC/hg19/ucsc.hg19.fasta'
    dbsnp = '/mnt/lustre/groups/CBBI1243/KEVIN/db/dbsnp_138.hg19.vcf.gz'
    indelsRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/1000G_phase1.indels.hg19.sites.vcf.gz'
    hapmap = '/mnt/lustre/groups/CBBI1243/KEVIN/db/hapmap_3.3.hg19.sites.vcf.gz'
    omniRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/1000G_omni2.5.hg19.sites.vcf.gz'
    snpRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz'
}

shifter {
    enabled = true
}

process {
    withLabel:plink2 {
        container = "//sickleinafrica/plink2:latest"
    }
    withLabel:bcftools {
        container = "//sickleinafrica/bcftools:latest"
    }
    withLabel:plink {
        container = "//sickleinafrica/plink1.9:1.9"
    }
    withLabel:Rbase {
        container = "//r-base:latest"
    }
    withLabel:samtools {
        container = "//sickleinafrica/samtools:1.11"
    }
    withLabel:bwa_bgzip {
        container = "//sickleinafrica/bwa_bgzip:latest"
    }
    withLabel:gatk {
        container = "//broadinstitute/gatk:latest"
    }
    withLabel:fastqc {
        container = "//sickleinafrica/fastqc:0.11.9"
    }
    withLabel:multiqc {
        container = "//sickleinafrica/multiqc:latest"
    }
}
