executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

params {
    inputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/ngs/syndromic/vcf/annotate/'		// directory containing one or more VCF files to be annotated
    outputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/ngs/syndromic/vcf/'
    outPrefix = 'femi.pass-leftnorm'
    //vcf = 'femi.pass-leftnorm.vcf.gz'
    annovarDB = '/mnt/lustre/groups/CBBI1243/KEVIN/annovar/hg19/'
    containersDir = '/mnt/lustre/users/kesoh/containers/'
}

singularity {
    enabled = true
    automounts = true
    cacheDir = "${HOME}/singularity"
}

process {

    //beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
 
    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 24
    time = 3.h
    //memory = 50.GB

    clusterOptions = '-P CBBI1243 -l select=1 -m b'

    withLabel:annovarMem {
        cpus = 24
        time = 2.h
        memory = 50.GB
    }
    withLabel:annovar {
        container = "${params.containersDir}annovar_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}py3plink_latest.sif"
    }
    withLabel:Rbase {
	container = "${params.containersDir}R.sif"
    }

}

